html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0px;
  margin: 0px;
}

a,
ul {
  list-style: none;
  color: currentColor;
}

img {
  display: block;
  margin: 0px;
}

button,
a {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  border: 0px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: "Raleway";
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-size: normal;
  font-weight: 700;
  line-height: 1.2;
}
.logo__web {
  color: #2196f3;
}
.logo__studio {
  color: #000000;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__studio-footer {
  color: #ffffff;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ececec;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conteiner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ffffff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link-active {
  color: #2196f3;
  position: relative;
}
.nav__link-active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer:hover, .contact-footer:focus {
  color: #2196f3;
}

.contact-footer-item {
  margin-top: 9px;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  text-decoration: none;
}

.contact__mail-icon {
  fill: #757575;
  margin-right: 10px;
  width: 18px;
  height: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__mail-icon, .contact__link:focus .contact__mail-icon {
  fill: #2196f3;
}

.contact__tel-icon {
  fill: #757575;
  margin-right: 10px;
  margin-left: 50px;
  width: 16px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__tel-icon, .contact__link:focus .contact__tel-icon {
  fill: #2196f3;
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero.jpg");
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero.jpg");
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.feautres {
  padding-bottom: 0px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  gap: 30px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits__icon-size {
  width: 70px;
  height: 70px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__wrapper {
  position: relative;
}

.works__overlay {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__overlay__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__photo {
  display: block;
}

.team__li {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  text-align: center;
  margin-bottom: 30px;
}

.team__li + .team__li {
  margin-left: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  gap: 10px;
  list-style: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-ikon-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-ikon-item, .social-link:focus .social-ikon-item {
  fill: #ffffff;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus, .clients-link:hover {
  border: 1px solid #2196f3;
}

.client-ikon-item {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:focus .client-ikon-item, .clients-item:hover .client-ikon-item {
  fill: #2196f3;
}

.container-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 94px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}

.adress {
  display: inline-block;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress:hover, .adress:focus {
  color: #2196f3;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add {
  fill: #ffffff;
}

.add-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-link-add {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.input-subscription {
  display: block;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: #f5f4fa;
  padding-left: 16px;
}

.subscription-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.subscription-icon {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 581px;
  width: 521px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
}
.close-btn:hover .close-icon, .close-btn:focus .close-icon {
  fill: #2196f3;
}

.group-request {
  display: block;
}

.request {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.request-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.request-input {
  display: block;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin-top: 4px;
}
.request-input:focus {
  outline-color: #2196f3;
}

.request-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 12px;
  left: 12px;
  display: block;
  fill: #212121;
}

.request-input:focus + .input-icon {
  fill: #2196f3;
}

.text-commit {
  display: block;
  margin-top: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.text-commit:focus {
  outline-color: #2196f3;
}

.request-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 34px;
}

.agree-icon {
  display: block;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  margin-right: 7px;
  border-radius: 4px;
}

.agree-text {
  display: block;
}

.agree-input:checked + .agree-icon {
  background-color: #2196f3;
  background-image: url("./image/check.svg");
  background-size: contain;
  outline: none;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.agree-input {
  --webkit-appearance: none;
  --moz-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.agree-link {
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
  text-decoration: none;
}

.request-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #2196f3;
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.request-btn:hover {
  background-color: rgb(24, 140, 232);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttons-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.buttons-portfolio .button:hover, .buttons-portfolio .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 30px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 24px 20px;
  width: 370px;
}

.portfolio-element {
  max-width: calc((100% - 60px) / 3);
  border-bottom: 1px solid #eeeeee;
  display: block;
  cursor: pointer;
}

.portfolio .title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-link {
  display: block;
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-before {
  position: relative;
  overflow: hidden;
}
.portfolio-before::before {
  display: block;
  content: " ";
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  -webkit-transition: -webkit-transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio-before-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
  letter-spacing: 0.03em;
}

.portfolio-link:hover .portfolio-before::before,
.portfolio-link:focus .portfolio-before::before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.text-o {
  position: absolute;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  top: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio-link:hover .text-o,
.portfolio-link:focus .text-o {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}/*# sourceMappingURL=main.css.map */