html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0px;
  margin: 0px;
}

a,
ul {
  list-style: none;
  color: currentColor;
}

img {
  display: block;
  margin: 0px;
}

button,
a {
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  border: 0px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.logo__web {
  color: #2196f3;
}
.logo__studio {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 0;
}

.logo__studio-footer {
  color: #ffffff;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
}

.header {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.conteiner-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .conteiner-header {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ffffff;
  }
}
.icon_menu {
  -webkit-transition: fill 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: fill 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container__menu {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .container__menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0px 40px 48px;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__button {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  top: 10px;
  right: 15px;
  z-index: 1000;
}
.header__button .icon-close_menu {
  display: none;
}
.header__button.is-open .icon-close_menu {
  display: block;
}
.header__button.is-open .icon-menu {
  display: none;
}
.header__button:hover .icon-menu, .header__button:focus .icon-menu {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.nav-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  color: #212121;
  margin-top: 48px;
}

.nav__link-mobile {
  display: block;
  text-decoration: none;
  margin-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.nav__link-mobile:hover, .nav__link-mobile:focus {
  color: #2196f3;
}

.mobile-active {
  color: #2196f3;
}

.contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__link-mobile {
  display: block;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contact__mail-mobile {
  display: block;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.menu_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.menu_social-item {
  text-decoration: none;
  display: block;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.menu_social-item-inst {
  text-decoration: none;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
}
.nav__link-active {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__link-active {
    display: block;
    color: #2196f3;
    position: relative;
  }
  .nav__link-active::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.contact__item {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #757575;
    margin-bottom: 0;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer:hover, .contact-footer:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contact-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-footer-item {
  margin-top: 9px;
}

.contact-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-header {
    display: block;
    margin-left: auto;
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.contact__mail-icon {
  fill: #757575;
  margin-right: 10px;
  width: 18px;
  height: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__mail-icon, .contact__link:focus .contact__mail-icon {
  fill: #2196f3;
}

.contact__tel-icon {
  fill: #757575;
  margin-right: 10px;
  width: 16px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__tel-icon, .contact__link:focus .contact__tel-icon {
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contact__tel-icon {
    margin-left: 50px;
  }
}

.hero {
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/mobile.jpg");
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../image/mobile2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../image/tablet2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../image/desktop2.jpg");
  }
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__button {
  padding: 10px 24px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 360px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .feautres {
    padding-bottom: 0px;
  }
}

.benefits {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767.98px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .benefits__text {
    width: 270px;
  }
}
@media screen and (max-width: 1200px) {
  .benefits__text {
    width: 350px;
  }
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits__icon-size {
  width: 70px;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .benefits__icon {
    width: 350px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon {
    width: 270px;
    height: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__wrapper {
  position: relative;
}

.works__overlay {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__overlay__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__photo {
  display: block;
}
@media screen and (max-width: 767px) {
  .team__photo {
    max-width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .team__photo {
    width: 354px;
  }
}

.team__li {
  background: #ffffff;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__li {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team__li {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .team__li {
    width: 354px;
  }
}

.team__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .team__title {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .team__title {
    width: 354px;
  }
}

.team__text {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .team__text {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .team__text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__li + .team__li {
    margin-left: 30px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  list-style: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-ikon-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-ikon-item, .social-link:focus .social-ikon-item {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .clients {
    margin-right: auto;
    margin-left: auto;
  }
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus, .clients-link:hover {
  border: 1px solid #2196f3;
}

.client-ikon-item {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:focus .client-ikon-item, .clients-item:hover .client-ikon-item {
  fill: #2196f3;
}

.container-footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    gap: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.adress {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress:hover, .adress:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer-contacts {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  .footer-contacts {
    text-align: center;
  }
}

.add {
  fill: #ffffff;
}

.add-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .footer-add {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .footer-add {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 93px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-add .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-link-add {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscription {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .subscription-title {
    text-align: center;
  }
}

.input-subscription {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 0;
  border-radius: 4px;
  color: #f5f4fa;
  padding-left: 16px;
}
@media screen and (max-width: 1200px) {
  .input-subscription {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .input-subscription {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
@media screen and (max-width: 1200px) {
  .subscription-button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .subscription-button {
    margin-left: auto;
    margin-right: auto;
  }
}
.subscription-icon {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 768px) {
  .backdrop {
    padding: 93px 15px 94px;
    overflow-y: scroll;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12000;
  height: 581px;
  max-width: 450px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 1200px) {
  .hero-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 521px;
  }
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
}
.close-btn:hover .close-icon, .close-btn:focus .close-icon {
  fill: #2196f3;
}

.group-request {
  display: block;
}

.request {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.request-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.request-input {
  display: block;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin-top: 4px;
}
.request-input:focus {
  outline-color: #2196f3;
}

.request-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .request-title {
    line-height: 1.15;
  }
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 12px;
  left: 12px;
  display: block;
  fill: #212121;
}

.request-input:focus + .input-icon {
  fill: #2196f3;
}

.text-commit {
  display: block;
  margin-top: 4px;
  max-width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.text-commit:focus {
  outline-color: #2196f3;
}

.request-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 34px;
}

.agree-icon {
  display: block;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  margin-right: 7px;
  border-radius: 4px;
}

.agree-text {
  display: block;
}

.agree-input:checked + .agree-icon {
  background-color: #2196f3;
  background-image: url("./image/check.svg");
  background-size: contain;
  outline: none;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.agree-input {
  --webkit-appearance: none;
  --moz-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.agree-link {
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
  text-decoration: none;
}

.request-btn {
  display: block;
  width: 200px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #2196f3;
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.request-btn:hover {
  background-color: rgb(24, 140, 232);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttons-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715), background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.buttons-portfolio .button:hover, .buttons-portfolio .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 30px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 24px 20px;
  width: 370px;
}

.portfolio-element {
  max-width: calc((100% - 60px) / 3);
  border-bottom: 1px solid #eeeeee;
  display: block;
  cursor: pointer;
}

.portfolio .title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-link {
  display: block;
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-before {
  position: relative;
  overflow: hidden;
}
.portfolio-before::before {
  display: block;
  content: " ";
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  -webkit-transition: -webkit-transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio-before-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
  letter-spacing: 0.03em;
}

.portfolio-link:hover .portfolio-before::before,
.portfolio-link:focus .portfolio-before::before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.text-o {
  position: absolute;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  top: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio-link:hover .text-o,
.portfolio-link:focus .text-o {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}/*# sourceMappingURL=main.css.map */