.contact {
  @media screen and (min-width: $tablet) {
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.02em;

    color: #757575;
  }
  @media screen and (min-width: $desktop) {
    // display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.contact__item {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primery-text-color;
  }
}

.contact__link {
  display: flex;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $active-color;
  }
  @media screen and (min-width: $tablet) {
    display: blocki;
  }
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $active-color;

    @media screen and (min-width: $tablet) {
      margin-left: 76px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
}
.contact-footer-item {
  margin-top: 9px;
}
.contact-header {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
    text-decoration: none;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
}

.contact__mail-icon {
  fill: $primery-text-color;
  margin-right: 10px;
  width: 18px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact__link:hover &,
  .contact__link:focus & {
    fill: $active-color;
  }
}
.contact__tel-icon {
  fill: $primery-text-color;
  margin-right: 10px;
  width: 16px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact__link:hover &,
  .contact__link:focus & {
    fill: $active-color;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 50px;
  }
}
