.feautres {
  @media screen and (min-width: $desktop) {
    padding-bottom: 0px;
  }
}

.benefits {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__item:not(:last-child) {
  @media screen and (max-width: $tablet) {
    margin-bottom: 30px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $secondary-text-color;
  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $primery-text-color;
  @media screen and (min-width: $desktop) {
    width: 270px;
  }

  @media screen and (max-width: $desktop) {
    width: 350px;
  }
}
.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;
  background-color: $button-color;
  border-radius: 4px;
  margin-bottom: 30px;

  &-size {
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: $tablet) {
    width: 350px;
    height: 120px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    height: 120px;
  }
}
