.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}
.header__main {
  display: flex;
}
.conteiner-header {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  background-color: #ffffff;
}
