.header {
  position: relative;
  // display: flex;
  // align-items: center;
  // // justify-content: space-between;

  border-bottom: 1px solid #ececec;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
  }
}

.header__main {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
  }
}

.conteiner-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  @media screen and (min-width: $tablet) {
    // align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    background-color: #ffffff;
  }
  @media screen and (min-width: $desktop) {
  }
}

.header__button {
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: 0;

  & .icon_close {
    display: none;
  }

  &.is-open .icon_close {
    display: block;
  }

  &.is-open .icon_menu {
    display: none;
  }
  &:hover .icon_menu,
  &:focus .icon_menu {
    fill: $active-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.icon_menu {
  transition: fill 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__button.is-open + .logo {
  display: none;
}

.container__menu {
  display: none;

  @media screen and (max-width: $tablet) {
    position: absolute;
    padding: 0px 40px 48px;
    background-color: #fff;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }
}
.nav-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  color: $secondary-text-color;
  margin-bottom: 306px;
}

.nav__link-mobile {
  display: block;
  text-decoration: none;
  margin-bottom: 32px;
  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover,
  &:focus {
    color: $active-color;
  }
}

.contact__link-mobile {
  display: block;
  margin-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02em;

  color: $active-color;
}

.contact__mail-mobile {
  display: block;
  margin-bottom: 64px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-text-color;
}
.menu_social {
  display: flex;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $active-color;
}

.menu_social-item {
  text-decoration: none;
  display: block;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}
.menu_social-item-inst {
  text-decoration: none;
}
