.hero {
  background-color: #2f303a;
  background-repeat: no-repeat;
  // background-position: ;
  background-size: cover;
  text-align: center;

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/desktop.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../image/desktop2.jpg");
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/tablet.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../image/tablet2.jpg");
    }
  }

  @media screen and (max-width: 767.98px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/mobile.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../image/mobile2.jpg");
    }
  }
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__button {
  padding: 10px 24px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $active-color;

  @media screen and (min-width: $desktop) {
    padding: 10px 32px;
  }
}
.hero__title {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 30px;
  width: 360px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}
