.backdrop {
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  @media screen and (max-width: $tablet) {
    padding: 93px 15px 94px;
    overflow-y: scroll;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.hero-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12000;

  height: 581px;
  max-width: 450px;
  padding: 40px;
  background-color: $primery-bg-color;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  position: relative;
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 521px;
  }
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $primery-bg-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;

  .close-btn:hover &,
  .close-btn:focus & {
    fill: $active-color;
  }
}

.group-request {
  display: block;
}

.request {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: $primery-text-color;
}

.request-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.request-input {
  display: block;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin-top: 4px;

  &:focus {
    outline-color: $active-color;
  }
}
.request-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;

  bottom: 12px;
  left: 12px;
  display: block;
  fill: $secondary-text-color;
}
.request-input:focus + .input-icon {
  fill: $active-color;
}

.text-commit {
  display: block;
  margin-top: 4px;
  max-width: 448px;
  height: 120px;

  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: outline-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:focus {
    outline-color: $active-color;
  }
}
.request-agree {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $primery-text-color;
  margin-bottom: 34px;
}
.agree-icon {
  display: block;
  width: 16px;
  height: 15px;
  outline: 2px solid $secondary-text-color;
  margin-right: 7px;
  border-radius: 4px;
}
.agree-text {
  display: block;
}
.agree-input:checked + .agree-icon {
  background-color: $active-color;
  background-image: url("./image/check.svg");
  background-size: contain;
  outline: none;
  background-repeat: no-repeat;
  background-origin: border-box;
}
.agree-input {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  position: absolute;
}

.agree-link {
  color: $active-color;
  border-bottom: 1px solid $active-color;
  text-decoration: none;
}
.request-btn {
  display: block;
  width: 200px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: $active-color;
  border: 1px solid $active-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 8;
  text-align: center;
  letter-spacing: 0.06em;
  color: $primery-bg-color;
  transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
    box-shadow 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:hover {
    background-color: rgba(24, 140, 232, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
