.section-team {
  background-color: #f5f4fa;

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
  }
}
.team {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.team__photo {
  display: block;
  @media screen and (max-width: 767px) {
    max-width: 450px;
  }

  @media screen and (max-width: 1199px) {
    width: 354px;
  }
}
.team__li {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    width: 354px;
  }
}
.team__title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    width: 354px;
  }
}

.team__text {
  text-align: center;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    width: 354px;
  }
}

.team__li + .team__li {
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}
