.button {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  border: 0px;

  color: $secondary-text-color;
  background-color: $button-color;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
