.logo {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;

  // justify-content: center;
  // align-items: baseline;

  text-decoration: none;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  &__web {
    color: $active-color;
  }
  &__studio {
    color: #000000;
  }

  @media screen and (min-width: $tablet) {
    // padding-top: 26px;
    // padding-bottom: 26px;
    margin-right: 87px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 26px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0;

  @media screen and (max-width: $desktop) {
  }
}
.logo__studio-footer {
  color: #ffffff;
}
