.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-text-color;

  @media screen and(min-width: $desktop) {
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
}
